.r {
    color: yellow;
}
.g {
    color: dodgerblue;
}
.b {
    color:chocolate;
}

p {
    font-family: cursive;
}

#message1 {
    padding: 3px;
    margin-right: 80px;
    font-size: 26px;
    font-family: cursive;
    border: 2px solid red;
    background-color: cornsilk;
}

#message2 {
    padding: 3px;
    margin-right: -80px;
    font-size: 26px;
    font-family: cursive;
    border: 2px solid red;
    background-color: cornsilk;
}

#awardnotice {
    font-size: 32px;
    border: 4px solid red;
    border-radius: 2%;
    background-color: cornsilk;
}

.unclickable {
    pointer-events: none;
}

#petimage {

    animation: fly 3s linear infinite alternate;
    width: 192px;
    height: 146px;
}

#cookietvpet {
    display: flex;
    justify-content: center;
}

.pointspopup {
    color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
    position: absolute;
    animation: rotate 5s linear;
}


@keyframes fly {

    from {
        transform: translateY(10px) rotate(-10deg);
        
    }

    to {
        transform: translateY(-10px) rotate(10deg);
       
    }
}

@keyframes rotate {



    from {
        transform: translateY(0px) rotate(-2deg);
    }

    to {
        transform: translateY(-300px) rotate(30deg);
    }
}

#cookieimage {
    width: 220px;
    height: 260px;
    touch-action: manipulation;
}

#cookiebutton {
    width: 280px;
    height: 280px;
    touch-action: manipulation;
}


.hiddenCookies {
    background-color: #A8EDAC;
    border-top: 4px solid black;
    border-bottom: 4px solid black;   
    display:none;
    justify-content:center;
}


.buttonarrow {
    width:30px;
    height:30px;
}

::selection {
    background-color:orange;
}

button {
    margin: 10px;
    padding: 0;
    background: transparent;
    border: none !important;

}

.buttontiny {
    margin: 0px;
    padding: 0;
    background-color: cornflowerblue;
    border: 3px solid purple !important;
    transition: background-color .1s ease-out;
    width: 40px;
    height: 40px;
    vertical-align:baseline;
}

.buttonsmall {
    margin: 8px;
    padding: 0;
    background-color: cornflowerblue;
    border: 2px solid yellow !important;

    transition: background-color .1s ease-out;
    width: 80px;
    height: 90px;
    vertical-align:super;
}

.goldframe {
    border: 3px solid blue !important;
}

.buttonmedium {
    margin: 1px;
    padding: 0;
    border: 10px solid black !important;
    transition: background-color .1s ease-out;
    width: 300px;
    height: 260px;
    touch-action: manipulation;
} 
button img {
        border-radius: 16%;
    }


    .buttonsmall:hover {
        transform: skewY(10deg);
        transform: scale(1.2);
        background-color: mediumpurple;
        cursor: pointer;
    }

.buttomsmall:active {
    width: 200px;
    height: 300px;
}

button:hover {
    border: solid 2px;
    padding:0;
    
}

.cookie {
    text-align:center;
    z-index:1;
}



body {
    background-color:whitesmoke;
}


.flex-container {
    padding-top: 18px;
    border: 4px solid black;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    background: navajowhite;
    transition: background-color .3s linear;

    opacity:1;
    position:static;
}

.flexbox-row {
    display: flex;

}

.flex-container2 {
    background: #C9E1F4;
    /*flex: 1 0 auto;*/
    flex:auto;
}
.gametitle {
    background-color: yellowgreen;
    padding:1px;
    border: 6px solid black;
    border-radius: 1%;
}


.flex-container3 {
    min-width: 160px;
    max-width: 160px;
    background: #A8EDAC;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    flex-wrap: wrap;
    text-align: center;
}
.flex-container4 {
    min-width: 90px;
    max-width: 90px;
    background: gold;
    border-right: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    flex-wrap: wrap;
    text-align:center;
}



    .flex-container img {
        border-radius: 28px;
        transition: background-color .1s ease-out;
    }

        .flex-container img:hover {
            transform: skewY(10deg);
            transform: scale(1.2);
            background-color: mediumpurple;
            cursor:pointer;
        }

    .flex-container img:active {
        width: 200px;
        height: 300px;
        
    }

.flex-container hr {
    width: 100%;
}



.cookieList{
    visibility: visible;
}

.cookieList2 {
    opacity:0;
    position:absolute;
    visibility:hidden;
}

.cookieListHidden {
    display: none;
}
@keyframes fadingaway {
    0% {
        opacity: 1;
        height: auto;
    }

    90% {
        opacity: 0;
        height: auto;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}



.tooltiptext {
    visibility: hidden;
    max-width:240px;
    width: 240px;
    background-color: #4B0082;
    color: #fff;
    text-align: center;
    border: 8px solid gold;
    border-radius: 10px;
    padding: 5px 0;
    line-height: 20px;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    top: 270px;
    left: 100px;
}

.achievementbutton:hover .tooltiptext {
    visibility: visible;
}



#channeltext {
    position:absolute; 
    margin-left: -520px; 
    font-family:cursive; 
    transform: translateY(-4px);
}




@media (max-width: 800px) {
    .flex-container3 {
        /*flex-direction: row; 
        min-width: 100px;
        max-width: 100px;
        max-height:200px;
        min-height:200px;
        background: black;
        border-left: 4px solid black;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        flex-wrap: wrap;
            */


    }


    #achievementbar {
        background: white;
        min-height: 400px;
        border-right: 4px solid black;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        text-align: center;
    }
    .buttontiny {
        width: 80px;
        height: 80px;
    }
    .buttonsmall {
        width:120px;
        height:180px;
    }
    #cookieimage {
        width: 440px;
        height: 520px;
    }
    #tv {
        width: 940px;
        height: 780px;
        position: absolute;
        transform: translateY(840px) translateX(-110px);
        display: flex;
        justify-content: flex-start;
    }
    .navbar {
        display:none;
    }
    body {
        background-color:deepskyblue;
    }
    .flex-container4 {
        min-width:120px;
        max-width:120px;
    }
    #channeltext {
        transform: translateY(920px) translateX(340px);
        font-size:40px;
        white-space: nowrap;
    }
    .hiddenCookies {
        position: absolute;
        transform: translateY(510px);
        flex-wrap: wrap;
        flex-flow: row;
    }
    .pointspopup {
        font-size: 64px;
    }
    #message1 {
        transform: translateY(500px) translateX(-120px);
        position: absolute;

    }
    #message2 {
        transform: translateY(400px) translateX(-200px);
        position:absolute;

    }
}
body {
    height: 100vh;
    
}