.r {
    color: yellow;
}
.g {
    color: dodgerblue;
}
.b {
    color:chocolate;
}




.pointspopup {
    color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
    position: absolute;
    animation: rotate 10s linear;
}

@keyframes rotate {



0%  {
        transform: rotate(-5deg);
        top: 20%;
        left:660px;
    }

50% {
    transform: rotate(30deg);
    top: 15%;
}

100% {
    transform: rotate(180deg);
}
}

#cookieimage {
    width: 220px;
    height: 260px;
    touch-action: manipulation;
}

#cookiebutton {
    width: 300px;
    height: 300px;
    touch-action: manipulation;
}


.hiddenCookies {
    background-color: #A8EDAC;
    border-top: 4px solid black;
    border-bottom: 4px solid black;   
    display:none;
}


.buttonarrow {
    width:30px;
    height:30px;
}

::selection {
    background-color:orange;
}

button {
    margin: 10px;
    padding: 0;
    background: transparent;
    border: none !important;

}

.buttontiny {
    margin: 10px;
    padding: 0;
    background-color: cornflowerblue;
    border: 3px solid purple !important;
    transition: background-color .1s ease-out;
    width: 40px;
    height: 40px;
}
.buttonsmall {
    margin: 10px;
    padding: 0;
    background-color: cornflowerblue;
    border: 3px solid purple !important;

    transition: background-color .1s ease-out;
    width: 80px;
    height: 90px;
}
.buttonmedium {
    margin: 1px;
    padding: 0;
    border: 8px solid black !important;
    transition: background-color .1s ease-out;
    width: 250px;
    height: 200px;
    border: 1px solid grey;
    touch-action: manipulation;
} 
button img {
        border-radius: 16%;
    }


    .buttonsmall:hover {
        transform: skewY(10deg);
        transform: scale(1.2);
        background-color: mediumpurple;
        cursor: pointer;
    }

.buttomsmall:active {
    width: 200px;
    height: 300px;
}

button:hover {
    border: solid 2px;
    padding:0;
    
}

.cookie {
    text-align:center;
    z-index:1;
}

@media (min-width:1000px) {
    body {
        background-color: ghostwhite;
    }
}

body {
    background-color:whitesmoke;
}


.flex-container {
    padding-top: 18px;
    border: 4px solid black;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    background: navajowhite;
    transition: background-color .3s linear;

    opacity:1;
    position:static;
}

.flexbox-row {
    display: flex;

}

.flex-container2 {
    background: #C9E1F4;
    /*flex: 1 0 auto;*/
    flex:auto;
}
.gametitle {
    background-color: yellowgreen;
    padding:1px;
    border: 6px solid black;
    border-radius: 1%;
}


.flex-container3 {
    min-width: 160px;
    max-width: 160px;
    background: #A8EDAC;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    flex-wrap: wrap;
}
.flex-container4 {
    min-width: 90px;
    max-width: 90px;
    background: gold;
    border-right: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    flex-wrap: wrap;
}



    .flex-container img {
        border-radius: 28px;
        transition: background-color .1s ease-out;
    }

        .flex-container img:hover {
            transform: skewY(10deg);
            transform: scale(1.2);
            background-color: mediumpurple;
            cursor:pointer;
        }

    .flex-container img:active {
        width: 200px;
        height: 300px;
        
    }

.flex-container hr {
    width: 100%;
}



.cookieList{
    visibility: visible;
}

.cookieList2 {
    opacity:0;
    position:absolute;
    visibility:hidden;
}

.cookieListHidden {
    display: none;
}
@keyframes fadingaway {
    0% {
        opacity: 1;
        height: auto;
    }

    90% {
        opacity: 0;
        height: auto;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}



.tooltiptext {
    visibility: hidden;
    max-width:240px;
    width: 240px;
    background-color: #4B0082;
    color: #fff;
    text-align: center;
    border: 8px solid gold;
    border-radius: 10px;
    padding: 5px 0;
    line-height: 20px;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    top: 270px;
    left: 100px;
}

.achievementbutton:hover .tooltiptext {
    visibility: visible;
}








@media (max-width: 800px) {
    .flex-container3 {
        /*flex-direction: row; 
        min-width: 100px;
        max-width: 100px;
        max-height:200px;
        min-height:200px;
        background: black;
        border-left: 4px solid black;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        flex-wrap: wrap;
            */
    }

}
body {
    height: 100vh;
    overflow-y: hidden;
}